@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  color: var(--text-primary);
}

button {
  float: center;
  transition: all 0.5s;
}

.to-width {
  width: 55% !important;
}

.to-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1920px) {
  .to-width {
    width: 90% !important;
  }
}

@media screen and (max-width: 1600px) {
  .to-width {
    width: 95% !important;
  }
}

@media screen and (max-width: 768px) {
  .to-width {
    width: 95% !important;
  }
}
