* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ysabeau", sans-serif !important;
}

:root {
  --moon: url("/static/images/bgs/moon.webp");
  --background: #ffffff;
  --accent: #ffffff50;
  --accent-sub: #ffffff75;
  --accent-sub-ter: #ffffff10;
  --background-prime: url("/static/images/bgs/ercknard-white.webp"),
    url("/static/images/bgs/white-sword.webp"),
    url("/static/images/bgs/white-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-second: url("/static/images/bgs/ercknard-white-closed-clean.webp"),
    url("/static/images/bgs/blank-sword.webp"),
    url("/static/images/bgs/white-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-ter: url("/static/images/bgs/white-surf.svg");
  --cloud: url("/static/images/bgs/white-cloud.svg");

  --ercknard-white: url("/static/images/bgs/ercknard-white.webp"),
    url("/static/images/bgs/white-surf.svg");
  --ercknard-yellow: url("/static/images/bgs/ercknard-yellow.webp"),
    url("/static/images/bgs/yellow-surf.svg");
  --ercknard-red: url("/static/images/bgs/ercknard-red.webp"),
    url("/static/images/bgs/red-surf.svg");
  --ercknard-magenta: url("/static/images/bgs/ercknard-magenta.webp"),
    url("/static/images/bgs/magenta-surf.svg");
  --ercknard-purple: url("/static/images/bgs/ercknard-purple.webp"),
    url("/static/images/bgs/purple-surf.svg");
  --ercknard-violet: url("/static/images/bgs/ercknard-violet.webp"),
    url("/static/images/bgs/violet-surf.svg");
  --ercknard-blue: url("/static/images/bgs/ercknard-blue.webp"),
    url("/static/images/bgs/blue-surf.svg");
  --ercknard-ocean: url("/static/images/bgs/ercknard-ocean.webp"),
    url("/static/images/bgs/ocean-surf.svg");
  --ercknard-green: url("/static/images/bgs/ercknard-green.webp"),
    url("/static/images/bgs/green-surf.svg");

  --transparent: rgba(0, 0, 0, 0);
  --white: #ffffff;
  --black: #000000;
  --yellow: #f0d056;
  --red: #ff5e5a;
  --magenta: #9b3a98;
  --purple: #b075f8;
  --violet: #7b8ffc;
  --blue: #4389ff;
  --ocean: #5cc2e4;
  --green: #6ef0bc;

  --white-accent: #ffffff75;
  --black-accent: #00000075;
  --yellow-accent: #f0d05675;
  --red-accent: #ff5e5a75;
  --magenta-accent: #9b3a9875;
  --purple-accent: #b075f875;
  --violet-accent: #7b8ffc75;
  --blue-accent: #4389ff75;
  --ocean-accent: #5cc2e475;
  --green-accent: #6ef0bc75;

  --gifted-font: 5em;
  --primary-font: 4em;
  --prim-secon-font: 3.5em;
  --secondary-font: 3em;
  --secon-ter-font: 2.5em;
  --tertiary-font: 2em;
  --ter-spec-font: 1.75em;
  --special-font: 1.5em;
  --quaternary-font: 1.25em;
  --quinary-font: 1em;
  --sixth-font: 0.2em;
}

@media (max-width: 1920px) {
  :root {
    --gifted-font: 4em;
    --primary-font: 3.75em;
    --prim-secon-font: 3.25em;
    --secondary-font: 2.75em;
    --secon-ter-font: 2.25em;
    --tertiary-font: 1.75em;
    --ter-spec-font: 1.5em;
    --special-font: 1.25em;
    --quaternary-font: 1em;
    --quinary-font: 1em;
  }
}

@media (max-width: 1024px) {
  :root {
    --gifted-font: 2em;
    --primary-font: 2em;
    --prim-secon-font: 1.25em;
    --secondary-font: 2.25em;
    --secon-ter-font: 2em;
    --tertiary-font: 1.75em;
    --ter-spec-font: 1.5em;
    --special-font: 1.25em;
    --quaternary-font: 1em;
    --quinary-font: 1em;
  }
}

[data-theme="yellow"] {
  --background: var(--yellow);
  --accent: #f0d05650;
  --accent-sub: #f0d05675;
  --accent-sub-ter: #f0d05610;
  --background-prime: url("/static/images/bgs/ercknard-yellow.webp"),
    url("/static/images/bgs/yellow-sword.webp"),
    url("/static/images/bgs/yellow-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-second: url("/static/images/bgs/ercknard-yellow-closed-clean.webp"),
    url("/static/images/bgs/blank-sword.webp"),
    url("/static/images/bgs/yellow-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-ter: url("/static/images/bgs/yellow-surf.svg");
  --cloud: url("/static/images/bgs/yellow-cloud.svg");
}

[data-theme="red"] {
  --background: var(--red);
  --accent: #ff5e5a50;
  --accent-sub: #ff5e5a75;
  --accent-sub-ter: #ff5e5a10;
  --background-prime: url("/static/images/bgs/ercknard-red.webp"),
    url("/static/images/bgs/red-sword.webp"),
    url("/static/images/bgs/red-surf.svg"), url("/static/images/bgs/moon.webp");
  --background-second: url("/static/images/bgs/ercknard-red-closed-clean.webp"),
    url("/static/images/bgs/blank-sword.webp"),
    url("/static/images/bgs/red-surf.svg"), url("/static/images/bgs/moon.webp");
  --background-ter: url("/static/images/bgs/red-surf.svg");
  --cloud: url("/static/images/bgs/red-cloud.svg");
}

[data-theme="magenta"] {
  --background: var(--magenta);
  --accent: #9b3a9850;
  --accent-sub: #9b3a9875;
  --accent-sub-ter: #9b3a9810;
  --background-prime: url("/static/images/bgs/ercknard-magenta.webp"),
    url("/static/images/bgs/magenta-sword.webp"),
    url("/static/images/bgs/magenta-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-second: url("/static/images/bgs/ercknard-magenta-closed-clean.webp"),
    url("/static/images/bgs/blank-sword.webp"),
    url("/static/images/bgs/magenta-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-ter: url("/static/images/bgs/magenta-surf.svg");
  --cloud: url("/static/images/bgs/magenta-cloud.svg");
}

[data-theme="purple"] {
  --background: var(--purple);
  --accent: #b075f850;
  --accent-sub: #b075f875;
  --accent-sub-ter: #b075f810;
  --background-prime: url("/static/images/bgs/ercknard-purple.webp"),
    url("/static/images/bgs/purple-sword.webp"),
    url("/static/images/bgs/purple-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-second: url("/static/images/bgs/ercknard-purple-closed-clean.webp"),
    url("/static/images/bgs/blank-sword.webp"),
    url("/static/images/bgs/purple-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-ter: url("/static/images/bgs/purple-surf.svg");
  --cloud: url("/static/images/bgs/purple-cloud.svg");
}

[data-theme="violet"] {
  --background: var(--violet);
  --accent: #7b8ffc50;
  --accent-sub: #7b8ffc75;
  --accent-sub-ter: #7b8ffc10;
  --background-prime: url("/static/images/bgs/ercknard-violet.webp"),
    url("/static/images/bgs/violet-sword.webp"),
    url("/static/images/bgs/violet-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-second: url("/static/images/bgs/ercknard-violet-closed-clean.webp"),
    url("/static/images/bgs/blank-sword.webp"),
    url("/static/images/bgs/violet-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-ter: url("/static/images/bgs/violet-surf.svg");
  --cloud: url("/static/images/bgs/violet-cloud.svg");
}

[data-theme="blue"] {
  --background: var(--blue);
  --accent: #4389ff50;
  --accent-sub: #4389ff75;
  --accent-sub-ter: #4389ff10;
  --background-prime: url("/static/images/bgs/ercknard-blue.webp"),
    url("/static/images/bgs/blue-sword.webp"),
    url("/static/images/bgs/blue-surf.svg"), url("/static/images/bgs/moon.webp");
  --background-second: url("/static/images/bgs/ercknard-blue-closed-clean.webp"),
    url("/static/images/bgs/blank-sword.webp"),
    url("/static/images/bgs/blue-surf.svg"), url("/static/images/bgs/moon.webp");
  --background-ter: url("/static/images/bgs/blue-surf.svg");
  --cloud: url("/static/images/bgs/blue-cloud.svg");
}

[data-theme="ocean"] {
  --background: var(--ocean);
  --accent: #5cc2e450;
  --accent-sub: #5cc2e475;
  --accent-sub-ter: #5cc2e410;
  --background-prime: url("/static/images/bgs/ercknard-ocean.webp"),
    url("/static/images/bgs/ocean-sword.webp"),
    url("/static/images/bgs/ocean-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-second: url("/static/images/bgs/ercknard-ocean-closed-clean.webp"),
    url("/static/images/bgs/blank-sword.webp"),
    url("/static/images/bgs/ocean-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-ter: url("/static/images/bgs/ocean-surf.svg");
  --cloud: url("/static/images/bgs/ocean-cloud.svg");
}

[data-theme="green"] {
  --background: var(--green);
  --accent: #6ef0bc50;
  --accent-sub: #6ef0bc75;
  --accent-sub-ter: #6ef0bc10;
  --background-prime: url("/static/images/bgs/ercknard-green.webp"),
    url("/static/images/bgs/green-sword.webp"),
    url("/static/images/bgs/green-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-second: url("/static/images/bgs/ercknard-green-closed-clean.webp"),
    url("/static/images/bgs/blank-sword.webp"),
    url("/static/images/bgs/green-surf.svg"),
    url("/static/images/bgs/moon.webp");
  --background-ter: url("/static/images/bgs/green-surf.svg");
  --cloud: url("/static/images/bgs/green-cloud.svg");
}

[data-theme="white"],
[data-theme="black"],
[data-theme="yellow"],
[data-theme="red"],
[data-theme="magenta"],
[data-theme="purple"],
[data-theme="violet"],
[data-theme="blue"],
[data-theme="ocean"],
[data-theme="green"] {
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: contain, cover;
  background-attachment: fixed;
  --text-primary: white;
  --text-secondary: grey;
}

.white-eye {
  background: var(--ercknard-white),
    linear-gradient(
      to bottom,
      var(--transparent),
      var(--transparent),
      var(--white-accent)
    );
}

.black-eye {
  background: var(--ercknard-black),
    linear-gradient(
      to bottom,
      var(--transparent),
      var(--transparent),
      var(--black-accent)
    );
}

.yellow-eye {
  background: var(--ercknard-yellow),
    linear-gradient(
      to bottom,
      var(--transparent),
      var(--transparent),
      var(--yellow-accent)
    );
}

.red-eye {
  background: var(--ercknard-red),
    linear-gradient(
      to bottom,
      var(--transparent),
      var(--transparent),
      var(--red-accent)
    );
}

.magenta-eye {
  background: var(--ercknard-magenta),
    linear-gradient(
      to bottom,
      var(--transparent),
      var(--transparent),
      var(--magenta-accent)
    );
}

.purple-eye {
  background: var(--ercknard-purple),
    linear-gradient(
      to bottom,
      var(--transparent),
      var(--transparent),
      var(--purple-accent)
    );
}

.violet-eye {
  background: var(--ercknard-violet),
    linear-gradient(
      to bottom,
      var(--transparent),
      var(--transparent),
      var(--violet-accent)
    );
}

.blue-eye {
  background: var(--ercknard-blue),
    linear-gradient(
      to bottom,
      var(--transparent),
      var(--transparent),
      var(--blue-accent)
    );
}

.ocean-eye {
  background: var(--ercknard-ocean),
    linear-gradient(
      to bottom,
      var(--transparent),
      var(--transparent),
      var(--ocean-accent)
    );
}

.green-eye {
  background: var(--ercknard-green),
    linear-gradient(
      to bottom,
      var(--transparent),
      var(--transparent),
      var(--green-accent)
    );
}

.white-eye,
.black-eye,
.yellow-eye,
.red-eye,
.magenta-eye,
.purple-eye,
.violet-eye,
.blue-eye,
.ocean-eye,
.green-eye {
  background-size: contain, cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 8rem;
  height: 10rem;
  cursor: pointer;
  margin: 0.5rem 1rem;
  border-top: none;
  border-image: linear-gradient(
      to top,
      var(--black),
      var(--transparent),
      var(--transparent)
    )
    1;
}

.eye {
  filter: drop-shadow(1px 1px 1px black);
}

.eye:hover,
.eye:active {
  transform: translateY(-2px) scale(1.1);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background: var(--ercknard-white);
  background-size: contain, cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: var(--black);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background: var(--black);
  }
}

.theme-buttons {
  position: fixed;
  display: flex;
  left: 50%;
  transform: translate(-50%);
  bottom: 3rem !important;
  justify-content: center;
  z-index: 1 !important;
  width: 100vw;
  display: none;
  padding: 0.5rem;
  transition: all 1s ease-in-out;
}

.reveal-eye {
  width: 100vw;
  height: 8rem;
  position: fixed;
  display: flex;
  left: 50%;
  transform: translate(-50%);
  bottom: 0 !important;
  border-bottom: 5px solid;
  border-image: linear-gradient(
      to left,
      var(--transparent),
      var(--black),
      var(--black),
      var(--transparent)
    )
    1;
  filter: drop-shadow(0px -1px 1px var(--background));
  transition: all 1s ease-in-out;
}

.fab-reveal {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: -3.5rem;
  background: var(--accent-sub) !important;
  transition: all 1s ease-in-out;
}

.fab-reveal:hover {
  background: var(--accent) !important;
}

.fab-reveal:hover > .theme-buttons {
  display: flex !important;
  transition: all 1s ease-in-out;
}

.canvas-container {
  position: relative !important;
  z-index: -1 !important;
}

#tsparticles {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-container {
  width: 100%;
  height: 100vh;
  --text-primary: white;
  --text-secondary: grey;
  z-index: 3 !important;
  animation: bg-anim 7s ease infinite;
}

@keyframes bg-anim {
  0% {
    background: var(--background-prime);
    background-repeat: no-repeat;
    background-position: bottom, center, center;
    background-size: contain, contain, cover, cover;
    background-attachment: fixed;
  }

  50% {
    background: var(--background-second);
    background-repeat: no-repeat;
    background-position: bottom, center, center;
    background-size: contain, contain, cover, cover;
    background-attachment: fixed;
  }

  100% {
    background: var(--background-prime);
    background-repeat: no-repeat;
    background-position: bottom, center, center;
    background-size: contain, contain, cover, cover;
    background-attachment: fixed;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .white-eye {
    background: var(--white);
  }

  .black-eye {
    background: var(--black);
  }

  .yellow-eye {
    background: var(--yellow);
  }

  .red-eye {
    background: var(--red);
  }

  .magenta-eye {
    background: var(--magenta);
  }

  .purple-eye {
    background: var(--purple);
  }

  .violet-eye {
    background: var(--violet);
  }

  .blue-eye {
    background: var(--blue);
  }

  .ocean-eye {
    background: var(--ocean);
  }

  .green-eye {
    background: var(--green);
  }

  .white-eye,
  .black-eye,
  .yellow-eye,
  .red-eye,
  .magenta-eye,
  .purple-eye,
  .violet-eye,
  .blue-eye,
  .ocean-eye,
  .green-eye {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--black);
    margin: 0.4rem 0.4rem;
  }

  .eye:hover,
  .eye:active {
    transform: unset;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .theme-buttons {
    background: unset;
    padding: 0.5rem 0;
    padding-top: 1rem;
    filter: drop-shadow(0px -1px 1px var(--background));
  }
}

.to-font-color {
  color: var(--background);
  -webkit-box-reflect: below -0.5rem linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  font-weight: 700 !important;
}

#menu input {
  display: none;
  margin-left: 20px;
  margin-top: 15px;
  padding: 0;
  height: 2.5em;
  width: 2.5em;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  position: relative;
  display: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  top: 10px !important;
  left: 35px;
}
#menu label:before {
  font-size: 3em;
  content: "☲";
  margin-left: 20px;
  margin-top: 20px;
  color: var(--white);
}

/* .the-links {
  margin-top: 0.8rem;
} */

/* #menu label:after {
  font-size: 2em;
  content: "Ercknard Guren";
  width: 80vw;
  position: absolute;
  justify-content: center;
  color: var(--white);
  margin-left: 1rem !important;
} */

.zodiac {
  margin-top: 0.5rem;
  display: flex;
  gap: 2rem;
  font-size: var(--ter-spec-font);
  filter: drop-shadow(1px 1px 1px var(--black));
}

.main-navigation {
  position: fixed !important;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  top: 0 !important;
  background: linear-gradient(to bottom, black, transparent);
  height: 5rem;
  z-index: 100 !important;
  border-top: 2px solid;
  border-image: linear-gradient(
      to left,
      var(--transparent),
      var(--background),
      var(--background),
      var(--transparent)
    )
    1;
  margin-top: 5px;
}

.navigation-logo {
  display: flex;
  justify-content: center;
  width: 50px;
}

.navigation-text-logo {
  align-items: center;
  gap: 1rem;
}

.navigation-text-logo:hover {
  cursor: pointer;
}

.main-sec-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: var(--ter-spec-font);
}

.navigation-buttons {
  width: 100vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.navigation-buttons,
.navigation-buttons a {
  display: flex;
  justify-content: space-evenly;
  font-size: calc(var(--quinary-font) - var(--sixth-font));
  color: rgb(var(--background)) !important;
  position: relative;
  transition: 1s linear !important;
}

.navigation-buttons a:hover,
.navigation-buttons a:active {
  color: var(--background) !important;
}

.navigation-buttons a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  background-color: var(--background);
  bottom: -3px;
}

@media screen and (max-width: 1024px) {
  .main-navigation {
    position: absolute;
    height: 4.5rem;
    background: var(--black);
    background-size: contain;
    filter: drop-shadow(0px 1px 1px var(--background));
  }

  .navigation-logo {
    display: flex;
    margin-left: unset !important;
    width: 50px;
  }

  #menu {
    position: relative;
  }

  #menu .main-sec-nav {
    background: var(--background-ter), var(--black);
    background-size: cover;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
    width: 100vw !important;
    min-height: 100vh;
  }

  .navigation-text-logo {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    margin-left: 1rem !important;
  }

  .up-to {
    margin-top: -1rem !important;
  }

  .navigation-buttons {
    flex-direction: column;
    margin-top: 2rem !important;
    margin-bottom: 2.5rem !important;
    gap: 1rem !important;
  }

  /* .cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    z-index: -10;
  } */

  .the-links {
    display: block;
    float: none;
    width: auto;
    padding: 1rem;
    width: 98% !important;
    margin-top: unset;
  }

  .the-links:hover {
    background-color: var(--accent);
  }

  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: white;
  }
  #menu input:checked + label::before {
    display: flex;
    content: "✕";
    margin-top: -0.1rem !important;
    width: 2.5em;
    height: 2.5em;
  }
  #menu input:checked ~ .main-sec-nav {
    display: block !important;
  }

  .to-fifty {
    width: 100% !important;
  }

  .to-left {
    display: flex;
    margin-left: -10rem !important;
  }

  .zodiac {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    font-size: var(--special-font);
    display: none;
  }
}

.landing {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: radial-gradient(at bottom, var(--accent-sub-ter), transparent),
    #00000090;
  /* background: #00000090; */
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  animation: gate-anim 7s linear infinite;
  height: 100vh;
  background: var(--cloud), var(--accent);
  /* -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0); */
  background-size: cover;
  background-position: left;
  border-right: 5px solid;
  border-image: linear-gradient(
      to top,
      var(--transparent),
      var(--background),
      var(--transparent)
    )
    1;
  z-index: -1;
}

.landing::after {
  content: "";
  position: absolute;
  right: 0;
  animation: gate-anim 7s linear infinite;
  height: 100vh;
  background: var(--cloud), var(--accent);
  /* -webkit-clip-path: polygon(100% 100%, 100% 0, 0% 100%);
  clip-path: polygon(100% 100%, 100% 0, 0% 100%); */
  background-size: cover;
  background-position: right;
  border-left: 5px solid;
  border-image: linear-gradient(
      to top,
      var(--transparent),
      var(--background),
      var(--transparent)
    )
    1;
  z-index: -1;
}

@keyframes gate-anim {
  0% {
    width: 30vw;
  }

  50% {
    width: 20vw;
  }

  100% {
    width: 30vw;
  }
}

.main-title {
  color: var(--background);
  font-size: var(--gifted-font);
  filter: drop-shadow(5px 5px 1px var(--black));
  font-weight: 800;
}

/* .main-title::before {
  content: "WELCOME TO";
  position: absolute;
  margin-top: -8rem;
  margin-left: -10rem;
  color: var(--accent);
  font-size: var(--special-font);
  filter: drop-shadow(5px 5px 1px var(--black));
  font-weight: 800;
} */

.sub-title {
  text-align: center;
  width: 50%;
  color: var(--white);
  font-size: var(--special-font);
  filter: drop-shadow(5px 5px 1px var(--black));
  font-weight: 500;
  background-color: #00000050;
  border-top: 3px solid;
  padding: 1rem;
  border-image: linear-gradient(
      to left,
      var(--transparent),
      var(--background),
      var(--background),
      var(--transparent)
    )
    1;
}

.icon-text {
  text-align: center;
  font-size: var(--prim-secon-font);
  font-weight: 500;
  margin-bottom: -1.5rem;
}

.text-effect {
  background: -webkit-linear-gradient(
    45deg,
    rgba(182, 67, 174, 0.15),
    rgba(255, 255, 255),
    rgba(182, 67, 174, 0.15)
  );
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background: linear-gradient(to top, var(--accent-sub), var(--background));
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.text-motion {
  background: -webkit-linear-gradient(
    45deg,
    rgba(182, 67, 174, 0.15),
    rgba(255, 255, 255),
    rgba(182, 67, 174, 0.15)
  );
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: var(--background);
  animation: text-motion 5s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes text-motion {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}
