* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --accent: #ffffff50;
  --background-prime: url("/static/images/bgs/ercknard-white.webp"),
    url("/static/images/bgs/white-surf.svg");
  --background-second: url("/static/images/bgs/ercknard-white-closed.webp"),
    url("/static/images/bgs/white-surf.svg");

  --transparent: #0e0915;
  --white: #ffffff;
  --black: #000000;
  --yellow: #f0d056;
  --red: #ff5e5a;
  --magenta: #9b3a98;
  --purple: #b075f8;
  --violet: #7b8ffc;
  --blue: #4389ff;
  --ocean: #5cc2e4;
  --green: #6ef0bc;
}

[data-theme="yellow"] {
  --background: var(--yellow);
  --accent: #f0d05650;
  --background-prime: url("/static/images/bgs/ercknard-yellow.webp"),
    url("/static/images/bgs/yellow-surf.svg");
  --background-second: url("/static/images/bgs/ercknard-yellow-closed.webp"),
    url("/static/images/bgs/yellow-surf.svg");
}

[data-theme="red"] {
  --background: var(--red);
  --accent: #ff5e5a50;
  --background-prime: url("/static/images/bgs/ercknard-red.webp"),
    url("/static/images/bgs/red-surf.svg");
  --background-second: url("/static/images/bgs/ercknard-red-closed.webp"),
    url("/static/images/bgs/red-surf.svg");
}

[data-theme="magenta"] {
  --background: var(--magenta);
  --accent: #9b3a9850;
  --background-prime: url("/static/images/bgs/ercknard-magenta.webp"),
    url("/static/images/bgs/magenta-surf.svg");
  --background-second: url("/static/images/bgs/ercknard-magenta-closed.webp"),
    url("/static/images/bgs/magenta-surf.svg");
}

[data-theme="purple"] {
  --background: var(--purple);
  --accent: #b075f850;
  --background-prime: url("/static/images/bgs/ercknard-purple.webp"),
    url("/static/images/bgs/purple-surf.svg");
  --background-second: url("/static/images/bgs/ercknard-purple-closed.webp"),
    url("/static/images/bgs/purple-surf.svg");
}

[data-theme="violet"] {
  --background: var(--violet);
  --accent: #7b8ffc50;
  --background-prime: url("/static/images/bgs/ercknard-violet.webp"),
    url("/static/images/bgs/violet-surf.svg");
  --background-second: url("/static/images/bgs/ercknard-violet-closed.webp"),
    url("/static/images/bgs/violet-surf.svg");
}

[data-theme="blue"] {
  --background: var(--blue);
  --accent: #4389ff50;
  --background-prime: url("/static/images/bgs/ercknard-blue.webp"),
    url("/static/images/bgs/blue-surf.svg");
  --background-second: url("/static/images/bgs/ercknard-blue-closed.webp"),
    url("/static/images/bgs/blue-surf.svg");
}

[data-theme="ocean"] {
  --background: var(--ocean);
  --accent: #5cc2e450;
  --background-prime: url("/static/images/bgs/ercknard-ocean.webp"),
    url("/static/images/bgs/ocean-surf.svg");
  --background-second: url("/static/images/bgs/ercknard-ocean-closed.webp"),
    url("/static/images/bgs/ocean-surf.svg");
}

[data-theme="green"] {
  --background: var(--green);
  --accent: #6ef0bc50;
  --background-prime: url("/static/images/bgs/ercknard-green.webp"),
    url("/static/images/bgs/green-surf.svg");
  --background-second: url("/static/images/bgs/ercknard-green-closed.webp"),
    url("/static/images/bgs/green-surf.svg");
}

[data-theme="white"],
[data-theme="black"],
[data-theme="yellow"],
[data-theme="red"],
[data-theme="magenta"],
[data-theme="purple"],
[data-theme="violet"],
[data-theme="blue"],
[data-theme="ocean"],
[data-theme="green"] {
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: contain, cover;
  background-attachment: fixed;
  --text-primary: white;
  --text-secondary: grey;
  transition: 0.5s;
}

.white-eye,
.black-eye,
.yellow-eye,
.red-eye,
.magenta-eye,
.purple-eye,
.violet-eye,
.blue-eye,
.ocean-eye,
.green-eye {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0.5rem;
}

.white-eye {
  background-color: var(--white);
}

.black-eye {
  background-color: var(--black);
}

.yellow-eye {
  background-color: var(--yellow);
}

.red-eye {
  background-color: var(--red);
}

.magenta-eye {
  background-color: var(--magenta);
}

.purple-eye {
  background-color: var(--purple);
}

.violet-eye {
  background-color: var(--violet);
}

.blue-eye {
  background-color: var(--blue);
}

.ocean-eye {
  background-color: var(--ocean);
}

.green-eye {
  background-color: var(--green);
}

@media (prefers-color-scheme: dark) {
  :root {
    background: var(--black);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background: var(--black);
  }
}

.theme-buttons {
  position: fixed;
  z-index: 1 !important;
}

.canvas-container {
  position: relative !important;
  z-index: -1 !important;
}

#tsparticles {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-container {
  width: 100%;
  height: 100vh;
  --text-primary: white;
  --text-secondary: grey;
  transition: 0.5s;
  z-index: 3 !important;
  animation: bg-anim 15s ease infinite;
}

@keyframes bg-anim {
  0% {
    background: var(--background-prime);
    background-repeat: no-repeat;
    background-position: bottom, center, center;
    background-size: contain, cover, cover;
    background-attachment: fixed;
  }

  50% {
    background: var(--background-second);
    background-repeat: no-repeat;
    background-position: bottom, center, center;
    background-size: contain, cover, cover;
    background-attachment: fixed;
  }

  100% {
    background: var(--background-prime);
    background-repeat: no-repeat;
    background-position: bottom, center, center;
    background-size: contain, cover, cover;
    background-attachment: fixed;
  }
}
